# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (PostgreSQL / Supabase)
# Replace with your actual PostgreSQL connection string (Supabase URI is recommended)
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database_name>?schema=public"
JWT_SECRET=your_jwt_secret_key_here

